@theme-name: "kbc";

@color-primary-light: #00AEEF;
@color-primary-dark: #003665;
@color-shade-10: #FAFAFA;
@color-shade-20: #F5F5F5;
@color-shade-30: #EBEBEB;
@color-shade-50: #E1E1E1;
@color-shade-60: #D3D3D3;
@color-shade-70: #C3C3C3;
@color-shade-80: #999999;
@color-shade-90: #666666;
@color-shade-100: #333333;

@color-white: #FFFFFF;
@color-black: #000000;

@color-bg-white: @color-white;
@color-bg-grey: @color-white; //@color-shade-10;

@color-bg-detail-header: #F7F9FB;
@color-detail-main: #EEF5F8;

@color-primary-light-05: #f6fcfe;
@color-primary-light-10: #e5f6fd;
@color-primary-light-30: #99e4ff;
@color-primary-light-40: #66d6ff;
@color-primary-light-120: mix(#000000, @color-primary-light, 20%);
@color-primary-light-10-grey: #F8FBFC; //= hsl(196,40%,98%);

@color-primary-headerlight: mix(@color-primary-light-10, @color-primary-dark, 70%);

@color-primary-dark-10: rgba(@color-primary-dark, 0.1);
@color-primary-dark-40: rgba(@color-primary-dark, 0.4);
@color-primary-dark-60: rgba(@color-primary-dark, 0.6);

@color-label: @color-shade-80;

@color-border-default: #EEF5F8;//@color-shade-30;
@color-border-darker: @color-shade-50;
@color-border-input: rgba(@color-primary-dark, 0.2);//@color-shade-80;

@input-border-radius: 5px;

@disabled-opacity: 0.3;

@box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.31);

//@color-active-red: #FF3A2F;
//@color-aperol-orange: #FF8800;
//@color-foxy-orange: #F19D00;

@color-ok-light: #0CF7B5;
@color-ok: #00E061;
@color-ok-120: #00b34d; 

@color-warning-light: #ffa726;
@color-warning: #EE7105;
@color-warning-120: mix(#000000, @color-warning, 20%); //#BE5A04;

@color-error-light: #EF534F;
@color-error: #D64040;
@color-error-120: #AB3333;  //mix(#000000, @color-error, 20%);
@color-bg-error: #FEF7F7;

@color-mandatory: @color-warning;

@min-medium-screen: ~"only screen and (min-width: 768px)";

@img-menu-toggler: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(0,0,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
